<div>
    <div class="col-md-12">
        {% for picture in object.pictures %}
            <img id="imageEdit"src="{{ vich_uploader_asset(picture, 'imageFile')}}" alt="card-img-top">
        {% endfor %}
    </div>
    <div>
        <h3 class=""><a href="#">{{ object.title }}</a></h3>
        <p class="">{{ object.content|u.truncate(300, '...')}}</p>
    </div>
</div>

