{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <div class="container">
        <h1>Actualités</h1>
        <div class="content-wrapper">
            <div class="blog-post">
                {% if articles is empty%}
                    <p>Aucun article pour le moment, à venir...</p>
                {% endif %}
                {% for object in articles %}
                    <article id="post-{{ object.id }}" class="entry">
                        {% include 'articles/_articles.html.twig' %}
                    </article>
                {% endfor %}
            </div>
        </div>
        <div class="pagination">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}