{% extends 'base.html.twig' %}

{% block title 'Éditer un article' %}

{% block body %}

    <div class="container">
        <h1>Éditer les articles</h1>
        {{ include ('admin/article/_form.html.twig', {button :'Editer' }) }}
    </div>

{% endblock %}